@font-face {
  font-family: "ITC Korinna";
  src: url("/fonts/itc-korinna-std/ITC-Korinna-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}


.intro {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.logo {
  font-family: "ITC Korinna", serif;
  font-weight: 700;

  font-size: clamp(6rem, 15vw, 14rem);
  line-height: 1;

  color: #ffd400;
  -webkit-text-stroke: 10px #003cff;

  letter-spacing: -0.10em;

  user-select: none;

  text-shadow:
    1px 1px 0 #0028b8,
    2px 2px 0 #0028b8,
    3px 3px 0 #0028b8,
    4px 4px 0 #0028b8,
    5px 5px 0 #0028b8,
    6px 6px 0 #0028b8,
    7px 7px 0 #0028b8,
    8px 8px 0 #0028b8,
    9px 9px 0 #0028b8,
    10px 10px 0 #0028b8,
    12px 12px 20px rgba(0, 0, 0, 0.6);

  animation: capcomIntro 4.5s ease-out forwards;
}

.flash {
  position: absolute;
  inset: 0;

  background: white;

  opacity: 0;

  pointer-events: none;

  animation: flashEffect 4.5s forwards;
}

@keyframes capcomIntro {
  0% {
    transform: scale(0.05);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes flashEffect {
  0%,
  75% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}