.banner {
    position: fixed;

    left: -140px;
    bottom: 80px;

    width: 700px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(28deg);

    background-image: url("/linkedin.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow:
        0 0 15px rgba(56, 189, 248, 0.6),
        0 0 30px rgba(37, 99, 235, 0.5);

    z-index: 100;

    color: white;
    font-size: 60px;
    letter-spacing: 0.0005em;
    font-weight: bold;
    font-style: italic;
}